
  <div class="main about-main">

    <div class="about-section">
      <div class="about-lead">
        <h1>Reviewとは</h1>
        <p class="lead">
          大学生向けSNSサービスです。
          <br>講義の課題や感想等を投稿し、共有し合うことができます。
        </p>
        <p class="lead">
          <%= link_to("登録する", "/signup", class: "btn") %>
        </p>
      </div>
    </div>

    <div class="feature-section">
      <div class="section-title">
        <h2>Feature</h2>
        <p>ーこのアプリの特徴ー</p>
      </div>
      <div class="section-body">
        <div class="item item1">
          <h3>見る</h3>
          <i class="fas fa-stream fa-4x"></i>
          <p>同じ講義を受講している学生が投稿した講義の課題や、講義内容の感想等を閲覧することができます。<p>
        </div>
        <div class="item item2">
          <h3>投稿する</h3>
          <i class="fas fa-user-edit fa-4x"></i>
          <p>自分が出席した講義について投稿することができます。メモとして、また欠席した人への連絡用にも使えます。</p>
        </div>
        <div class="item item3">
          <h3>マークする</h3>
          <i class="fas fa-thumbs-up fa-4x"></i>
          <p>投稿にグッドボタンをつけることができます。役に立った投稿には感謝を示しましょう。</p>
        </div>
      </div>
    </div>
    
  </div>
