<div class="main top-main">
  <div class="top-lead">
  <h1>Reviewへようこそ</h1>
  <p class="lead">講義の情報を共有しよう</p>
  <p class="lead">
    <%= link_to("もっと詳しく", "/about", class: "btn") %>
  </p>
  </div>
</div>
