// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//index
.posts-index {
  padding-top: 80px;
  padding-bottom: 80px;
}

.posts-index-item {
  padding: 10px 0px 10px;
  margin: 5px 0px 5px;
  box-shadow: 0 2px 6px #c1ced7;
  background-color: #fff;
  border-radius: 0.3em;
}

.post-left img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.post-user-name {
  font-weight: 600;
}

.post-user-content {
  padding: 5px 0 5px;
}

.post-right {
  font-size: 20px;
}

//new
.posts-new {
  padding: 80px 0 80px;
}

textarea {
  border: 2px solid #acd7dc;
  border-radius: 0.67em;
  padding: 0.5em;
  width: 50%;
  height: 80px;
}

.input[type="submit"] {
}

//show
.posts-show {
  padding-top: 80px;
}

.posts-show .post-container {
  padding-top: 20px;
}

.name-content {
  font-size: 25px;
}

.posts-show-item {
  padding: 20px 0 20px;
  box-shadow: 0 2px 6px #c1ced7;
  border-radius: 0.3em;
  background-color: #fff;
}

.posts-show-item img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}

.good-btn-on {
  color: #8899a6;
}

.good-btn-off {
  color: #ffd700;
}
